$font: Permian
$color-dark-gray: #212121
$color-light-gray: #CFD8DC
$color-orange: #FFC107

@font-face
  font-family: Permian
  src: url("permian-sans-typeface.otf")

body
  font-family: $font
  background-color: white
  color: $color-dark-gray
  font-size: 18px
  margin: 0
  padding: 0

a
  color: $color-dark-gray
  &:hover
    color: $color-orange

.header-image
  width: 100%

footer
  background-color: $color-dark-gray
  text-align: center
  font-size: 15px
  padding: 30px 0 20px 0
  margin: 50px auto 0 auto
  p
    margin: 10px auto 5px auto
  a
    color: $color-light-gray
    text-decoration: none
  #github
    width: 30px
    fill: $color-light-gray
    &:hover
      fill: $color-orange
