---

---

$font: Verdana, Geneva, sans-serif
$color-dark-gray: #212121
$color-light-gray: #CFD8DC
$color-orange: #FFC107
$break-small: 768px
$break-medium: 1024px

body
  font-family: $font
  background-color: white
  color: $color-dark-gray
  font-size: 18px
  line-height: 20px
  margin: 0
  padding: 0

img
  image-rendering: -webkit-optimize-contrast

a
  color: $color-dark-gray
  @media screen and (min-width: $break-small)
    transition: color 0.3s
    &:hover
      color: $color-orange

.header-image
  width: 100%

footer
  background-color: $color-dark-gray
  width: 100%
  font-size: 15px
  padding: 30px 0 20px 0
  display: flex
  flex-flow: column wrap
  align-items: center
  p
    margin: 5px
  a
    color: $color-light-gray
    text-decoration: none
  .icon
    width: 30px
    fill: $color-light-gray
    margin: 0 5px 0 5px
    @media screen and (min-width: $break-small)
      transition: color 0.3s
      &:hover
        fill: $color-orange
