@import common

.back
  margin: 20px 0 10px 100px
  a
    text-decoration: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $color-light-gray
  margin: 1em 0
  padding: 0

.post
  margin: 40px auto 0 auto
  width: 90%
  @media screen and (min-width: $break-small)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    width: 60%
  h2
    text-align: center
    padding: 20px 0 20px 0
    color: $color-dark-gray
  .date
    text-align: right
    font-size: 14px
    padding: 0 20px 10px 20px
    margin: 0
  .category
    text-align: right
    font-size: 14px
    padding: 0 20px 10px 20px
    margin: 0 0 0 0
  .content
    margin: 10px 20px 10px 20px
    @media screen and (min-width: $break-medium)
      margin: 10px 100px 10px 100px
    padding: 0 0 20px 0
  img
    max-width: 100%
    display: block
    margin: 0 auto 0 auto

.navigation
  text-align: center
  padding: 20px 0 20px 0
  margin: 30px auto 50px auto
  background-color: $color-orange
  width: 90%
  @media screen and (min-width: $break-medium)
    width: 60%
  a
    margin: 0 5px 0 5px
    text-decoration: none
    @media screen and (min-width: $break-small)
      margin: 0 50px 0 50px
      &:hover
        color: white

.comments
  padding: 20px 10px 20px 10px
  margin: 40px auto 0 auto
  width: 90%
  @media screen and (min-width: $break-small)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    padding: 20px 20px 20px 20px
    width: 550px
  input
    padding: 10px
    border: 1px solid $color-light-gray
    border-radius: 10px
    width: 250px
    @media screen and (min-width: $break-small)
      width: 300px
  textarea
    border: 1px solid $color-light-gray
    border-radius: 10px
    width: 270px
    height: 150px
    @media screen and (min-width: $break-small)
      width: 500px
  .send-button
    width: 100%
    text-align: center
    button
      background-color: $color-orange
      border: 1px solid $color-orange
      border-radius: 10px
      padding: 10px
      font-size: 16px
      cursor: pointer
      @media screen and (min-width: $break-small)
        transition: color 0.3s
        &:hover
          color: white
  .comment
    margin: 10px auto 10px auto
    .comment-name
      font-size: 20px
      padding-bottom: 0
      margin-bottom: 0
    .comment-date
      font-size: 14px
      padding-top: 0
      margin-top: 0
