@import common

.back
  margin: 20px 0 10px 100px
  a
    text-decoration: none

.post
  width: 60%
  margin: 40px auto 0 auto
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  h2
    text-align: center
    padding: 20px 0 20px 0
    color: $color-dark-gray
  .date
    text-align: right
    font-size: 14px
    padding: 0 20px 10px 20px
  .content
    margin: 10px 100px 10px 100px
    padding: 0 0 20px 0
  img
    display: block
    margin: 0 auto 0 auto

.navigation
  text-align: center
  margin: 50px auto 30px auto
  a
    margin: 0 50px 0 50px
    text-decoration: none
