$font: Permian
$color-dark-gray: #212121
$color-orange: #FFC107

@font-face
  font-family: Permian
  src: url("permian-sans-typeface.otf")

html
  font-family: $font
  background-color: white
  color: $color-dark-gray
  font-size: 18px

a:hover
  color: $color-orange

.header-image
  width: 100%

.posts
  text-align: center

.post
  width: 30%
  margin: 40px 5px 0 5px
  padding: 10px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  display: inline-block
  vertical-align: top

.post-preview-image
  width: 100%

  &:hover
    opacity: 0.7

.post-title
  float: left

.post-link
  text-decoration: none
  font-size: 20px

.post-link:hover
  color: $color-orange

.post-date
  float: right
  font-size: 15px

.post-short-content
  margin-top: 50px
  float: none
  text-align: left
