.DS_Store
sys
_site
Gemfile.lock
assets/post-images/preview.jpg

_posts/2017-09-01-making-notebook-from-scratch.md
_posts/2017-09-02-printing-in-museum.md
assets/post-images/2017-09-01
assets/post-images/2017-09-02