.DS_Store
sys/
_site/
css/.sass-cache
Gemfile.lock
_posts/2017-10-06-book-ripping.md
_posts/2017-10-01-at-suns-place.md
_posts/2017-10-03-ted-videos.md
assets/post-images/2017-10-06
assets/post-images/2017-10-01
