<div class="comments">
  <form method="POST" action="https://api.staticman.net/v2/entry/iriiiina/blog-about-books/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <p><label>Имя *<br />
      <input name="fields[name]" type="text" required></label></p>
    <p><label>Э-майл<br />
      <input name="fields[email]" type="email"></label></p>
    <p><label>Комментарий *<br />
      <textarea name="fields[message]" required></textarea></label></p>
    <p class="send-button"><button type="submit">Отправить</button></p>
  </form>

  <div class="comment">
    {% for comment in site.data.comments.[page.slug] %}
      <hr>
      <p class="comment-name">{{ comment[1].name }}</p>
      <p class="comment-date">{{ comment[1].date | date: "%-d.%m.%Y" }}</p>
      <p class="comment-message">{{ comment[1].message | strip_html }}</p>
    {% endfor %}
  </div>
</div>
