<header>
  <picture>
    <img class="header-image"
    sizes="(max-width: 1380px) 100vw, 1380px"
    srcset="
      {{ site.url }}/assets/images/header/header-480.jpg 480w,
      {{ site.url }}/assets/images/header/header-633.jpg 633w,
      {{ site.url }}/assets/images/header/header-772.jpg 772w,
      {{ site.url }}/assets/images/header/header-890.jpg 890w,
      {{ site.url }}/assets/images/header/header-1001.jpg 1001w,
      {{ site.url }}/assets/images/header/header-1106.jpg 1106w,
      {{ site.url }}/assets/images/header/header-1217.jpg 1217w,
      {{ site.url }}/assets/images/header/header-1320.jpg 1320w,
      {{ site.url }}/assets/images/header/header-1369.jpg 1369w,
      {{ site.url }}/assets/images/header/header-1380.jpg 1380w"
    src="{{ site.url }}/assets/images/header/header-1380.jpg"
    alt="Картинка шапки">
  </picture>
</header>
