<header>
  <picture>
    <img class="header-image"
    sizes="(max-width: 1400px) 100vw, 1400px"
    srcset="
      {{ site.url }}/assets/header/header-200.jpg 200w,
      {{ site.url }}/assets/header/header-513.jpg 513w,
      {{ site.url }}/assets/header/header-723.jpg 723w,
      {{ site.url }}/assets/header/header-932.jpg 932w,
      {{ site.url }}/assets/header/header-1097.jpg 1097w,
      {{ site.url }}/assets/header/header-1278.jpg 1278w,
      {{ site.url }}/assets/header/header-1388.jpg 1388w,
      {{ site.url }}/assets/header/header-1400.jpg 1400w"
    src="{{ site.url }}/assets/header/header-1400.jpg"
    alt="Картинка шапки">
  </picture>
</header>
