<!DOCTYPE html>
<html lang="ru_RUS">
	<head>

		<link rel="stylesheet" type="text/css" href="/css/blog.css">
		<link rel="icon" href="/assets/images/favicon.ico">
		<link rel="alternate" type="application/rss+xml" title="Лента книго-ориентированного блога" href="/atom.xml">
		<link rel="manifest" href="/manifest.json">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description=" content="Cognitio Liber - книго-ориентированный блог про книгу, как объект">
		<meta property="og:url" content="http://book.irina-ivanova.eu/">
		<meta property="og:title" content="Cognitio Liber | Книго-ориентированный блог">
		<meta property="og:description" content="Cognitio Liber - книго-ориентированный блог про книгу, как объект">
		<meta property="og:image" content="http://book.irina-ivanova.eu/assets/images/preview.jpg"/>
		<meta property="og:locale" content="ru_RUS"/>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107903881-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-107903881-1');
		</script>

	</head>
	<body>

		{% include header.html %}

		{% include category.html %}

		{{ content }}

		{% include footer.html %}
