---
layout: compress
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>

		<link rel="stylesheet" type="text/css" href="/css/blog.css">

		<link rel="alternate" type="application/rss+xml" title="Лента книго-ориентированного блога" href="/atom.xml">
		<link rel="manifest" href="/manifest.json">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#FFC107">
		<meta name="theme-color" content="#FFC107">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description=" content="Cognitio Liber - книго-ориентированный блог про книгу, как объект">
		<meta property="og:url" content="http://book.irina-ivanova.eu/">
		<meta property="og:title" content="Cognitio Liber | Книго-ориентированный блог">
		<meta property="og:description" content="Cognitio Liber - книго-ориентированный блог про книгу, как объект">
		<meta property="og:image" content="http://book.irina-ivanova.eu/assets/preview.jpg"/>
		<meta property="og:locale" content="ru-RU"/>

	</head>
	<body>

		{% include header.html %}

		{% include category.html %}

		{{ content }}

		{% include footer.html %}
