<!DOCTYPE html>
<html lang="ru">
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107903881-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-107903881-1');
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blog.css">
		<link rel="icon" href="{{ site.url }}/assets/images/favicon.ico">

		<link rel="alternate" type="application/rss+xml" title="Лента книго-ориентированного блога" href="{{ site.url }}/atom.xml" />

		<title>{{ page.title }}</title>
	</head>
	<body>

		{% include header.html %}

		{% include category.html %}

		{{ content }}

		{% include footer.html %}
