---
layout: compress
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>

		<link asynch rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css">

		<link rel="manifest" href="{{ site.url }}/manifest.json">

		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="{{ site.url }}/assets/favicons/safari-pinned-tab.svg" color="#FFC107">
		<meta name="theme-color" content="#FFC107">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description=" content="{{ page.excerpt | strip_html }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.excerpt | strip_html }}">
		<meta property="og:image" content="{{ site.url }}/assets/post-images/{{ page.date | date: '%Y-%m-%d' }}/preview.jpg"/>
		<meta property="og:locale" content="ru-RU"/>

	</head>
	<body>

		{% include header.html %}

    <div class="back">
      <a href="{{ site.url }}" title="Назад в блог">&lt;&lt; Назад в блог</a>
    </div>

		<main>
    	<div class="post">
      	<h2>{{ page.title }}</h2>
				<div class="date-category">
					<span>Опубликовано: {{ page.date | date: "%-d.%m.%Y" }}</span>
					<span>Категории: {{ page.categories | join: ", " }}</span>
				</div>

      	<div class="content">
        	{{ content }}
      	</div>
    	</div>
		</main>

		{% include comments.html %}

		{% include navigation.html %}

    {% include footer.html %}
