<!DOCTYPE html>
<html lang="ru_RUS">
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107903881-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-107903881-1');
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css">
		<link rel="icon" href="{{ site.url }}/assets/images/favicon.ico">

		<meta name="theme-color" content="#FFC107"/>

		<title>{{ page.title }}</title>

	</head>
	<body>

		{% include header.html %}

    <div class="back">
      <a href="{{ site.url }}" title="Назад в блог">&lt;&lt; Назад в блог</a>
    </div>

		<main>
    	<div class="post">
      	<h2>{{ page.title }}</h2>

      	<p class="date">Опубликовано: {{ page.date | date: "%-d.%m.%Y" }}</p>
				<p class="category">Категории: {{ page.categories | join: ", " }}</p>

      	<div class="content">
        	{{ content }}
      	</div>
    	</div>
		</main>

    <div class="navigation">
      {% if page.previous.url %}
      <a href="{{ page.previous.url }}" title="Предыдущий пост">&lt;&lt; Предыдущий пост</a>
      {% endif %}
      <a href="{{ site.url }}" title="Назад в блог">Назад в блог</a>
      {% if page.next.url %}
      <a href="{{ page.next.url}}" title="Следующий пост">Следующий пост &gt;&gt;</a>
      {% endif %}
    </div>

    {% include footer.html %}
